/* Custom fonts */
@font-face {
  font-family: Font1;
  src: url(/fonts/Ac437_ToshibaTxL2_8x16.ttf);
}

/* Global variables */
:root {
  --primary-color:rgb(0, 0, 0); 
  --secondary-color:rgb(255, 255, 255); 
  --hover-color:rgb(255, 0, 0); 
}

/* Global styling */
html, body {
  margin: 0;
  padding: 0;
  font-family: Font1;
  background-color:var(--primary-color);
  color:var(--secondary-color);
}


/* Highlight colors */
::selection {
  color:var(--primary-color);
  background-color: var(--secondary-color);
}

::-webkit-selection {
  color:var(--primary-color);
  background-color: var(--secondary-color);
}

::-moz-selection {
  color:var(--primary-color);
  background-color: var(--secondary-color);
}

/* Divider styling */
hr.divider {
  border-style:dashed;
  border-color: var(--secondary-color); 
}

body {
  margin: 3vw;
}

h1 {
  padding:1vw;
}

p {
  padding:1vw;
}

canvas {
  display: block;
}

/* button {
  border: none;
  border-radius: 0px;
  border-color: black;
  padding: 4px;
  color: black;
  background: white;
}

button:hover {
  background: black;
  color: white;
} */